<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fazenda VerdeViva</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar nav-color navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Home">Fazenda VerdeViva</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end" id="navbar-items">
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pt-5 mx-5">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted text-center">
        <div class="d-flex justify-content-around mt-2">
            <div class="d-flex flex-column">
                <div class="container">
                    <h5>Fazenda VerdeViva</h5>
                </div>
                <div class="container">
                    &copy; 2024 - Fazenda VerdeViva, Inc.
                </div>
                <div class="container">
                    <p>Todos os direitos reservados.</p>
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class="container">
                    <h6>Nossa Fazenda Urbana</h6>
                </div>
                <div class="container">
                    <ul class="list-unstyled">
                        <li><a class="nav-link text-muted" asp-area="" asp-page="/Sobre">Como produzimos</a></li>
                        <li><a class="nav-link text-muted" asp-area="" asp-page="/Faq">FAQ - Perguntas frequentes</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class="container">
                    <h6>Faça seu pedido</h6>
                </div>
                <div class="container">
                    <ul class="list-unstyled">
                        <li><a class="nav-link text-muted" asp-area="" asp-page="/Produtos">Nossos produtos</a></li>
                        <li><a class="nav-link text-muted" asp-area="" asp-page="/Contato">Fale conosco</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/services/configuration/appConfiguration.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/services/user/user.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>