@page
@model IndexModel
@{
    ViewData["Title"] = "Enviar mensagem de contato";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-4">Fale Conosco</h1>
                <p class="text-muted">Responderemos no e-mail informado em até 1 dia útil.</p>
            </div>
            <form class="contact-message-form">
                <div class="row mb-3">
                    <div class="col">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="name" placeholder="Seu nome" required>
                    </div>
                    <div class="col">
                        <label for="last-name" class="form-label">Sobrenome</label>
                        <input type="text" class="form-control" id="last-name" placeholder="Seu sobrenome" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="seunome@email.com" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensagem</label>
                    <textarea class="form-control" id="message" rows="5" placeholder="Insira aqui sua dúvida ou mensagem." required></textarea>
                </div>
                <div class="text-center">
                    <button id="send-message-button" class="btn w-50 primary-button-color">Enviar mensagem</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="card mt-4 text-center">
                <div class="card-header">
                    Telefones
                </div>
                <div class="card-body">
                    <p>Pedidos: (11) 2222-3333</p>
                    <p>Ouvidoria: (11) 2222-3338</p>
                    <p>Comercial: 0800-000-0001</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="~/js/services/contact/sendContactMessage.js"></script>