@page
@model IndexModel
@{
    ViewData["Title"] = "Endereços";
}

<div class="container my-5 w-50 justify-content-center text-center address-screen">
    <h1 class="display-4 text-center">Endereços cadastrados</h1>
    <div class="col-md-8">
        <div class="container my-5">
            <div class="col-md-8" id="addresses-container">
            </div>
        </div>

        <a href="/Entrega/Endereco" class="text-primary " styles="color: #689f39">+ Adicionar novo endereço</a>
    </div>
</div>

<script type="module" src="~/js/services/user/addresses.js"></script>
