@page
@model IndexModel
@{
    ViewData["Title"] = "Minha conta";
}


<div class="container my-5 text-center w-75">
    <h1 class="display-4">Minha Conta</h1>

    <div class="my-3">
        <i class="bi bi-person-circle" style="font-size: 5rem;"></i>
    </div>

    <h3 id="user-name"></h3>

    <p class="text-muted small">Membro desde <span id="member-since"></span></p>

    <div class="d-grid gap-3 w-50 mx-auto my-4">
        <a asp-area="" asp-page="/Cliente/DadosPessoais" class="btn primary-button-color">Dados Pessoais</a>
        <a asp-area="" asp-page="/Cliente/Enderecos" class="btn secondary-button-colo">Endereços cadastrados</a>
    </div>

    <script type="module" src="~/js/services/user/profile.js"></script>
</div>
