@page
@model IndexModel
@{
    ViewData["Title"] = "Meu Carrinho";
}

<div class="container my-5 w-75">
    <div class="cart-title text-center mb-4">
        <h1 class="display-4">Meu Carrinho</h1>
        <p class="lead">Veja os itens em seu carrinho, o valor da entrega e o valor total da compra.</p>
    </div>

    <div class="cart-items-section row">
        <div class="col-md-8">
            <h5 class="font-weight-bold mb-4">Produtos</h5>

            <div id="cart-item-list">
                <div class="card mb-3">
                    <div class="card-body d-flex justify-content-between">
                        <p class="mb-0"></p>
                        <p class="mb-0"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 cart-summary">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Resumo do carrinho</h5>
                    <div class="d-flex justify-content-between mt-3">
                        <p class="mb-1">Produto(s) (<span class="product-quantity"></span>)</p>
                        <p class="mb-1 font-weight-bold">R$ <span class="total-price"></span></p>
                    </div>
                    <button onclick="window.location.href = '/Entrega/Listar';" class="btn primary-button-color w-100 mt-3">Continuar compra</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="~/js/services/cart/listCartItems.js"></script>
