@page
@model fazenda_test.Pages.Pedido.ConfirmarPagamentoModel
@{
    ViewData["Title"] = "Confirmar pedido";
}
<div class="container my-5 w-75">

    <div class="text-center mb-4">
        <h1 class="display-4">Confirmar pedido</h1>
        <p class="lead">Veja os itens do seu pedido, o valor da entrega e o valor total do pedido.</p>
    </div>

    <div class="row order-items-section">
        <div class="col-md-8">
            <h5 class="font-weight-bold mb-4">Produtos</h5>

            <div class="order-item-list">
                <div class="card mb-3">
                    <div class="card-body d-flex justify-content-between">
                        <p class="mb-0"></p>
                        <p class="mb-0"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Resumo do Pedido</h5>
                    <div class="d-flex justify-content-between">
                        <p class="mb-1">Tipo de pagamento:</p>
                        <p class="mb-1 font-weight-bold"><span class="payment-method"></span>  </p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-1">Produto(s) (<span class="product-quantity"></span>)</p>
                        <p class="mb-1 font-weight-bold">R$ <span class="sub-total"></span></p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-1">Frete:</p>
                        <p class="mb-1 font-weight-bold"><span class="shipping-cost"></span>  </p>
                    </div>
                    <div class="d-flex justify-content-between border-top pt-3 mt-3">
                        <p class="mb-1 font-weight-bold">Total:</p>
                        <p class="mb-1 font-weight-bold">R$<span class="total-price"></span></p>
                    </div>
                </div>
            </div>

            <button class="btn primary-button-color w-100 mt-3 confirm-order-button">Confirmar pedido</button>
        </div>

        

      
    </div>

    <script type="module" src="~/js/services/order/confirmOrder.js"></script>
</div>
