html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


.nav-color {
    background: #D5F4D6;
}

body {
    margin-bottom: 60px;
}

.product-image {
    width: 200px; /* Defina a largura desejada */
    height: 200px; /* Defina a altura desejada */
    object-fit: contain; /* Mantém o aspecto da imagem preenchendo o container */
}
.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-container {
    margin-top: 40px;
}
.input-container {
    margin-bottom: 40px;
}

.product{
    cursor: pointer;
}