@page
@model IndexModel
@{
    ViewData["Title"] = "Entrar";
}

<div class="text-center my-5 w-75">
    <h1 class="display-4">Entrar</h1>
    <form id="loginForm">
        <div class="mb-3 text-start">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" placeholder="seunome@email.com" required>
        </div>
        <div class="mb-3 text-start">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" placeholder="********" required>
            <div class="form-text">
                <a asp-area="" asp-page="/AlterarSenha">Esqueci minha senha.</a>
            </div>
        </div>
        <button type="submit" class="btn btn-dark w-100">Acessar conta</button>
    </form>
    <div class="text-center mt-3">
        <span>Ainda não tem cadastro? <a asp-area="" asp-page="/Cadastro">Crie sua conta aqui.</a></span>
    </div>
</div>

<script src="~/js/entrar.js" asp-append-version="true"></script>
