@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>Outras páginas:</h3>
    <ul>
        <li><a asp-area="" asp-page="/Endereco">Endereço</a></li>
        <li><a asp-area="" asp-page="/DadosPessoais">Dados Pessoais</a></li>
        <li><a asp-area="" asp-page="/FormasPagamento">Formas de Pagamento</a></li>
        <li><a asp-area="" asp-page="/Pix">Pagamento com PIX</a></li>
        <li><a asp-area="" asp-page="/Cartao">Pagamento com Cartão</a></li>
        <li><a asp-area="" asp-page="/Boleto">Pagamento com Boleto</a></li>
        <li><a asp-area="" asp-page="/Sobre">Sobre</a></li>
        <li><a asp-area="" asp-page="/MinhaConta">Minha Conta</a></li>
        <li><a asp-area="" asp-page="/AguardandoPagamento">Aguardando Pagamento</a></li>
        <li><a asp-area="" asp-page="/PagamentoConfirmado">Pagamento Confirmado</a></li>
    </ul>
</div>
