@page
@model IndexModel
@{
    ViewData["Title"] = "Meus pedidos";
}

<div class="container my-5 w-75">
    <h1 class="text-center display-4">Meus pedidos</h1>
    <p class="text-center">Veja o histórico de todos os seus pedidos realizados.</p>
    <!--
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-outline-secondary">
                <i class="bi bi-filter"></i> Filtrar ou ordenar itens
            </button>
        </div>
    -->
    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">Pedido</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Valor total</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Pedido Exemplo -->
                <tr>
                    <td><span class="fs-4 text-success">✔️</span> 0104905</td>
                    <td>20/05/2024 às 15:30</td>
                    <td>Entregue</td>
                    <td>R$ 30,00</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Comprar novamente</button>
                        <button class="btn btn-outline-secondary btn-sm">Ver detalhes</button>
                    </td>
                </tr>
                <!-- Fim do Pedido Exemplo-->
            </tbody>
        </table>
    </div>

    <!-- Paginação -->
    <nav aria-label="Paginação de pedidos">
        <ul class="pagination justify-content-center mt-4">
            <li class="page-item active"><a class="page-link" href="#">Pág. 1</a></li>
            <li class="page-item"><a class="page-link" href="#">Pág. 2</a></li>
            <li class="page-item"><a class="page-link" href="#">Pág. 3</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        </ul>
    </nav>
</div>


