@page
@model fazenda_test.Pages.ProdutosModel
@{
	ViewData["Title"] = "Produtos";
}
<div class="container my-5">
    <!-- Campo de pesquisa e filtro -->
    <div class="row input-container mx-auto">
        <div class="col-md-9">
            <input type="text" class="form-control" placeholder="Pesquisar produto" aria-label="Pesquisar produto">
        </div>
    </div>

    <!-- Título e lista de produtos -->
    <h2 class="my-4m">Todos os itens</h2>
    <div class="row" id="product-list">
        <!-- Produtos serão inseridos aqui -->
    </div>
</div>
<!-- Script para buscar e renderizar os produtos -->
<script>
    const contextUrl = "http://18.188.227.244:8080/verdeviva/produtos/buscar-todos";

    function createProductCard(produto) {
        return `
                <div class="col-md-3 product-container product">
                    <div class="d-flex justify-content-center mb-2">
                        <img src="${produto.imagemUrl}" class="img-fluid product-image" alt="${produto.nome}"
                            onerror="this.onerror=null;this.src='https://picsum.photos/200';">
                    </div>
                    <div class="justify-content-left mb-2">
                        <h5>${produto.nome}</h5>
                        <a href="#" class="btn btn-link p-0" style="color: grey;">Ver detalhes</a>
                        <p style="color: green;font-size: 20px">R$ ${produto.precoQuilo.toFixed(2)} /kg</p>
                    </div>
                </div>
        `;
    }
    
    // Função para buscar os produtos da API
    function loadProducts() {
        fetch(contextUrl)  // URL da sua API que retorna a lista de produtos
            .then(response => response.json())
            .then(produtos => {
                const productList = document.getElementById('product-list');
                produtos.forEach(produto => {
                    productList.innerHTML += createProductCard(produto);
                });
            })
            .catch(error => {
                console.error('Erro ao carregar os produtos:', error);
            });
    }

    // Carregar produtos ao carregar a página
    document.addEventListener('DOMContentLoaded', loadProducts);
</script>