@page
@model IndexModel
@{
    ViewData["Title"] = "Sobre";
}


<style>
    .image-container {
        background-image: url('/imgs/catalogo.png');
        background-size: cover;
        background-position: center;
        height: 300px;
        position: relative;
    }

    .overlay {
        background-color: rgba(255, 255, 255, 0.3);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        text-align: center;
    }
</style>


<div class="container">
    <!-- Imagem de fundo -->
    <div class="image-container">
        <div class="content overlay fw-bolder text-dark">
            <div style="background-color: rgba(255, 255, 255, 0.6);">
                    <h1 class="display-4 mt-2 px-4">Produtos frescos, saudáveis e próximos da sua casa</h1>
                    <p class="lead"><strong>Conheça nossa variedade incrível de hortaliças, frutas, verduras e vegetais!</strong></p>
                    <a asp-area="" asp-page="/Produtos" class="btn btn-dark mb-4">Ver catálogo</a>
            </div>
        </div>
    </div>

    <!-- Conteúdo -->
    <div class="container my-5">
        <!-- Subtítulo 1 -->
        <h2 class="display-6">O que é uma Fazenda Urbana?</h2>
        <div class="text-muted" style="text-align: justify;">
            <p>
                Fazendas urbanas são espaços destinados para o plantio de vegetais, legumes, frutas hortaliças em meio as grandes metrópoles. Esses espaços podem ser produzidos de forma “vertical”, no alto de prédios por exemplo ou em estufas especiais criadas para produção de alimentos.
            </p>
            <p>
                Por conta do aumento exponencial da população mundial diversas formas de suprir a demanda de recursos são pensadas diariamente, elas precisam ser práticas, funcionais e principalmente sustentáveis. As fazendas urbanas são uma proposta para tal problemática, visto que, são mais eficientes dentro do cenário urbano, mais econômicas e reduzem os gastos totais de produção.
            </p>
        </div>
        <!-- Subtítulo 2 -->
        <h2 class="display-6">Sobre Nós</h2>
        <div class="text-muted" style="text-align: justify;">
            <p>
                A Fazenda VerdeViva foi criada com o objetivo de garantir a assessibilidade a alimentos de qualidade e produzidos de maneira sustensável, promovendo a segurança alimentar e os cenários ambiental, social e econômico do país. Para isso, utilizamos da mais alta tecnologia para a produção de nossas hortaliças, verduras, frutas, legumes e vegetais, com monitoramento constante, capacitação dos colaboradores responsáveis e atenção aos mínimos detalhes durante cada etapa de produção.
            </p>
        </div>
    </div>

</div>
