@page
@model IndexModel
@{
    ViewData["Title"] = "Boleto";
}

<div class="container w-75 text-center my-5">

    <h1 class="display-4">Boleto</h1>
    <p class="text-muted">Escaneie o Código de barras a seguir e nos envie o comprovante por WhatsApp para maior agilidade.</p>

    <div class="d-flex justify-content-center my-3">
        <img src="/imgs/boleto_barcode.png" alt="Código de Barras do Boleto" class="img-fluid">
    </div>

    <p class="text-muted mt-2 mb-0">Entrega em até 24h após a confirmação do pagamento.</p>
    <p class="text-muted">WhatsApp: (11) 98888-7777</p>

    <div class="row mt-5">
        <div class="col-md-4">
            <p class="text-muted">Frete</p>
            <h5>R$ <span id="shipping-cost"></span></h5>
        </div>
        <div class="col-md-4">
            <p class="text-muted">Valor Total</p>
            <h5>R$  <span id="total-cost"></span></h5>
        </div>
        <div class="col-md-4">
            <p class="text-muted">Valor final</p>
            <h5>R$ <span id="final-cost"></span></h5>
        </div>
    </div>
</div>