@page
@model IndexModel
@{
    ViewData["Title"] = "Pagamento Confirmado";
}

<div class="container my-5 text-center">
    <h1 class="display-4">Pagamento Confirmado</h1>
    <p class="text-muted">Seu pagamento foi confirmado. Agradecemos a sua compra!</p>

    <i class="bi bi-check-circle" style="font-size: 6rem; color: green;"></i>

    <div class="my-4">
        <a asp-area="" asp-page="/Index" class="btn btn-dark">Voltar à página inicial</a>
    </div>

    <p class="small text-muted">A entrega será realizada em até 24h.</p>
</div>
