@page
@model ProdutosModel
@{
	ViewData["Title"] = "Produtos";
}
<div class="container my-5 mx-5">
    <!-- Campo de pesquisa e filtro -->
    <div class="row input-container mx-auto">
        <div class="col-md-9">
            <input type="text" class="form-control" placeholder="Pesquisar produto" aria-label="Pesquisar produto">
        </div>
    </div>

    <!-- Título e lista de produtos -->
    <h2 class="my-4m">Todos os itens</h2>
    <div class="row" id="product-list">
        <!-- Produtos serão inseridos aqui -->
    </div>
</div>

<!-- Script para buscar e renderizar os produtos -->
<script type="module" src="~/js/produtos.js" asp-append-version="true"></script>