@page
@model ProdutosModel
@{
	ViewData["Title"] = "Produtos";
}
<div class="my-5 mx-5 px-5">
    <!-- Título e lista de produtos -->
    <h2 class="ps-5 my-4 display-5">Todos os itens</h2>
    <div class="row text-center" id="product-list">
        <!-- Produtos serão inseridos aqui -->
    </div>
</div>

<!-- Script para buscar e renderizar os produtos -->
<script type="module" src="~/js/produtos.js" asp-append-version="true"></script>