@page
@model ProdutosModel
@{
	ViewData["Title"] = "Produtos";
}
<div class="my-5 mx-auto px-5">
    <h2 class="ps-5 my-4 display-5">Todos os itens</h2>
    <div class="row text-center" id="product-list"></div>
</div>

<script type="module" src="~/js/services/product/listProducts.js"></script>